@import url('https://fonts.googleapis.com/css2?family=Roboto:ital@1&display=swap');

* {
    margin: 0;
    padding: 0;
    list-style: none;
    box-sizing: border-box;
    font-family: 'Roboto', sans-serif;
}
h1{
    padding: 5px;
    margin: 5px;
    display: block;
    box-sizing: border-box;
    background: linear-gradient(to right,#00dbde,#fc00ff);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}
body{
    background: #e7e7e9;

}
.wrapper{
    width: 100%;
}
.menu{
    width: 100%;
    height: 60px;
}
.menu ul{
    width: 100%;
    height: 100%;
    background: #4169e1;
    text-align: left;
    line-height: 60px;
    position: relative;
}
.menu ul li{
    display: inline-block;
    margin: 0 15px;
    padding: 0 15px;
}
.menu ul li a{
    text-decoration: none;
    color: #ffff;
    text-transform: uppercase;
    font-weight: bold;
    letter-spacing: 5px;
    font-size: 12px;
    float: left;
}
.menu ul li:hover{
    background: rgb(69, 114, 248);
    font-size: 14px;
}
.menu ul li:hover a{
    color: orange;
    font-size: 13px;
}
.menu ul li .sub_menu{
    position: absolute;
    background: royalblue;
    width: 100%;
    left: 0;
    top: 60px;
    padding: 25px 15px;
    display: flex;
    justify-content: space-around;
    line-height: 24px;
    visibility: hidden;
    transition: all 0.3s ease 0s, visibility 0s linear 0.3s, z-index 0s linear 0.01s;
    transform: translateY(-3em);
    z-index: -1;
}
.menu ul li .sub_menu .col img {
    width: 250px;
    height: 180px;
    display: block;
}
.menu ul li:hover .sub_menu{
    visibility: visible;
    opacity: 1;
    z-index: 1;
    transform: translateY(0);
    transition-delay: 0s, 0s, 0.1s;
}
.menu ul li .sub_menu p{
    color: white;
    margin-top: 15px;
    font-size: 14px;
}
.box-Container {
    margin: auto;
    margin-top: 10px;
    position: relative;
    width: 300px;
    height: 42px;
    border: 4px solid #4169e1;
    padding: 0px 10px;
    border-radius: 50px;
}
.ElementContainer{
    width: 100%;
    height: 100%;
    vertical-align: middle;
}
.search{
    border: none;
    height: 100%;
    width: 100%;
    padding: 0px 5px;
    border-radius: 50px;
    font-size: 18px;
    color: #424242;
    font-weight: 500;
    background: none;
    border: none;
    text-decoration: none;
}
.konten-border-1{
    padding: 10px;
    margin: 70px 300px 20px;
    display: grid;
    grid-template-columns: auto auto auto;
    border: 3px solid black;
    position: relative;
    justify-content: center;
    margin-top: 80px;
}
.konten-1{
    display: grid;
    grid-template-columns: auto auto auto;
}
.image-konten-1{
    margin: 0;
    padding: 0;
}
.image-konten-1 img{
    display: grid;
    grid-template-columns: auto auto auto;
    width: 60%;
    border: 2px solid gray;
}
.isi-konten-1 h2{
    display: grid;
    margin-right: 200px;
    margin-left: -90px;
    align-items: center;
    position: relative;
    text-align: left;
    margin-top: 10px;
}
.isi-konten-1 p{
    display: grid;
    margin-right: 200px;
    margin-left: -90px;
    align-items: center;
    position: relative;
    text-align: left;
    font-size: 18px;
    margin-top: 20px;
}
.konten-border-2{
    padding: 10px;
    margin: 20px 300px 20px;
    display: grid;
    grid-template-columns: auto auto auto;
    border: 3px solid black;
    position: relative;
    justify-content: center;
    margin-top: 1px;
}
.konten-border-3{
    padding: 10px;
    margin: 20px 300px 20px;
    display: grid;
    grid-template-columns: auto auto auto;
    border: 3px solid black;
    position: relative;
    justify-content: center;
    margin-top: 1px;
}
.konten-border-4{
    padding: 10px;
    margin: 20px 300px 20px;
    display: grid;
    grid-template-columns: auto auto auto;
    border: 3px solid black;
    position: relative;
    justify-content: center;
    margin-top: 1px;
}
.image-konten-2 img{
    display: grid;
    grid-template-columns: auto auto auto;
    width: 50%;
    border: 2px solid gray;
}
.isi-konten-2{
    display: grid;
    margin-right: 200px;
    margin-left: -150px;
    align-items: center;
    position: relative;
    text-align: left;
}
.image-konten-3 img{
    display: grid;
    grid-template-columns: auto auto auto;
    width: 60%;
    border: 2px solid gray;
    margin-top: 0px;
}
.image-konten-4{
    margin: 0;
    padding: 0;
}
.image-konten-4 img{
    display: grid;
    grid-template-columns: auto auto auto;
    width: 60%;
    border: 2px solid gray;
}
.isi-konten-4{
    display: grid;
    margin-right: 200px;
    margin-left: -90px;
    align-items: center;
    position: relative;
    text-align: left;
}
.isi-konten-3{
    display: grid;
    margin-right: 200px;
    margin-left: -90px;
    align-items: center;
    position: relative;
    text-align: left;
}